{
  "env": {
    "ANTHROPIC_AUTH_TOKEN": "YOUR_ANTHROPIC_AUTH_TOKEN",
    "ANTHROPIC_BASE_URL": "https://api.anthropic.com",
    "CLAUDE_CODE_DISABLE_NONESSENTIAL_TRAFFIC": "1",
    "API_TIMEOUT_MS": "3000000"
  },
  "permissions": {
    "allow": [
      "Bash(npm test)",
      "Bash(git *)"
    ],
    "deny": []
  },
  "model": "claude-opus-4-6",
  "statusLine": {
    "type": "command",
    "command": "~/.claude/ccline/ccline",
    "padding": 0
  },
  "enabledPlugins": {
    "security-guidance@claude-plugins-official": true,
    "code-review@claude-plugins-official": true,
    "ralph-loop@claude-plugins-official": true,
    "scholar@local-plugins": true
  },
  "extraKnownMarketplaces": {
    "local-plugins": {
      "source": {
        "source": "directory",
        "path": "/Users/liyufeng/.claude/plugins/local-plugins"
      }
    }
  },
  "skipWebFetchPreflight": true
}
